<h1>AliTwitter</h1>
<p><%= pluralize(@tweets.nil? ? 0 : @tweets.count,'tweets') %></p>

<% unless @tweets.nil? %>
  <table>
    <tr>
      <th>Tweets:</th>
    </tr>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.message%><td>
        <td><%= link_to 'delete', "/tweet/#{tweet.id}",method: :delete%></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= form_with(scope: :tweet,url: '/tweet', local: true) do |form| %>
  <p>
    <%= form.label :message %>
    <br>
    <%= form.text_area :message %>
  </p>
  <p>
    <%= form.submit('post tweet') %>
  </p>
<% end %>
